<!DOCTYPE html>
<!--[if lt IE 7]>  <html class="lt-ie7"> <![endif]-->
<!--[if IE 7]>     <html class="lt-ie8"> <![endif]-->
<!--[if IE 8]>     <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html>
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        <%=config.website_name %>- Login</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>

    <link rel="icon" type="image/png" href="assets/_con/images/icon.png">
    <!-- build:css assets/css/style.css -->
    <!-- nanoScroller -->
    <link rel="stylesheet" type="text/css" href="assets/nanoScroller/nanoscroller.css" />

    <!-- FontAwesome -->
    <link rel="stylesheet" type="text/css" href="assets/font-awesome/css/font-awesome.min.css" />

    <!-- WeatherIcons -->
    <link rel="stylesheet" type="text/css" href="assets/weatherIcons/css/weather-icons.min.css" />

    <!-- Material Design Icons -->
    <link rel="stylesheet" type="text/css" href="assets/material-design-icons/css/material-design-icons.min.css" />

    <!-- nvd3 -->
    <link rel="stylesheet" type="text/css" href="assets/nvd3/nv.d3.min.css" />

    <!-- Google Prettify -->
    <link rel="stylesheet" type="text/css" href="assets/google-code-prettify/prettify.css" />

    <!-- Main -->
    <link rel="stylesheet" type="text/css" href="assets/_con/css/_con.css" />
    <!-- endbuild -->
    <!--[if lt IE 9]>
    <script src="assets/html5shiv/html5shiv.min.js"></script>
  <![endif]-->
</head>

<body>

    <section id="sign-in">

        <form action="/login" method="POST" class="form form-validate floating-label" novalidate="novalidate">
            <div class="row links">
                <div class="col s6 logo">
                    <img src="assets/_con/images/logo.png" alt="">
                </div>
                <div class="col s6 right-align"><strong>Sign In</strong> / <a href="./register">Sign Up</a>
                </div>
            </div>
            
            <% if(typeof errors != "undefined" && errors.length>0){ %>
            <div class="card-panel deep-orange lighten-2 white-text">
              <% for(var i=0;i<errors.length;i++){ %>
                  <%= errors[i] %><br>
              <% } %>
              
            </div>
            <% } %>
                
            <% if(typeof success !="undefined"){ %>
                <div class="notification notification-green">
                  <%= success %><br>
            </div>
                
            <% } %>

            <div class="card-panel">

                <!-- Social Sign Up --
        <div class="row socials">
          <div class="col s4">
            <a class="btn blue darken-2 z-depth-0 z-depth-1-hover" href="#"><i class="fa fa-2x fa-facebook"></i></a>
          </div>
          <div class="col s4">
            <a class="btn blue lighten-2 z-depth-0 z-depth-1-hover" href="#"><i class="fa fa-2x fa-twitter"></i></a>
          </div>
          <div class="col s4">
            <a class="btn red z-depth-0 z-depth-1-hover" href="#"><i class="fa fa-2x fa-google-plus"></i></a>
          </div>
        </div>
        -- /Social Sign Up -->

                <div class="row">
                    
                </div>

                <!-- Username -->
                <div class="input-field form-group has-icon">
                    <i class="fa fa-user prefix"></i>
                    <input id="username-input" type="text" class="validate form-control" name="username" required data-rule-minlength="4">
                    <label for="username-input">Username</label>
                </div>
                <!-- /Username form-control -->

              
                
                
                <!-- Password -->
                <div class="input-field form-group has-icon">
                    <i class="fa fa-unlock-alt prefix"></i>
                    <input id="password-input" type="password" class="validate form-control" name="password" required data-rule-minlength="4">
                    <label for="password-input">Password</label>
                </div>
                <!-- /Password -->

                <div class="switch">
                    <label>
                        <input type="checkbox" checked name="rememberme" />
                        <span class="lever"></span>
                        Remember
                    </label>
                </div>

                <button class="waves-effect waves-light btn-large z-depth-0 z-depth-1-hover">Sign In</button>
            </div>

            <div class="links right-align">
                <a href="page-forgot-password.html">Forgot Password?</a>
            </div>

        </form>

    </section>

    
    <!--end .row -->



    <!-- jQuery -->
    <script type="text/javascript" src="assets/jquery/jquery.min.js"></script>

    <!-- jQuery RAF (improved animation performance) -->
    <script type="text/javascript" src="assets/jqueryRAF/jquery.requestAnimationFrame.min.js"></script>

    <script>
        (function () {
            function toggleSidebar() {
                // check if small screen on load - set small sidebar
                if (window.innerWidth <= 796) {
                    $('body').addClass('sidebar-small');
                } else {
                    $('body').removeClass('sidebar-small');
                }
            }

            var wndResizeTimeout;
            $(window).on('resize', function () {
                clearTimeout(wndResizeTimeout);
                wndResizeTimeout = setTimeout(toggleSidebar, 100);
            });
        }())
    </script>

    <!-- nanoScroller -->
    <script type="text/javascript" src="assets/nanoScroller/jquery.nanoscroller.min.js"></script>

    <!-- Materialize -->
    <script type="text/javascript" src="assets/materialize/js/materialize.min.js"></script>

    <!-- Simple Weather -->
    <script type="text/javascript" src="assets/simpleWeather/jquery.simpleWeather.min.js"></script>

    <!-- d3 -->
    <script type="text/javascript" src="assets/nvd3/d3.min.js"></script>

    <!-- nvd3 -->
    <script type="text/javascript" src="assets/nvd3/nv.d3.min.js"></script>

    <!-- Google Prettify -->
    <script type="text/javascript" src="assets/google-code-prettify/prettify.js"></script>

    <!-- Sortable -->
    <script type="text/javascript" src="assets/sortable/Sortable.min.js"></script>

    <script type="text/javascript" src="assets/jquery-validation/jquery.validate.js"></script>
    <script type="text/javascript" src="assets/jquery-validation/additional-methods.js"></script>
    
    
    <!-- Main -->
    <script type="text/javascript" src="assets/_con/js/_con.js"></script>

</body>

</html>