<!DOCTYPE html>
<html>

<head>
    <title>
        <%=config.website_name %>- Login Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8" />

    <link rel="icon" type="image/ico" href="/assets/images/favicon.ico" />
    <!-- Bootstrap -->
    <link href="/assets/css/vendor/bootstrap/bootstrap.min.css" rel="stylesheet">

    <link href="/assets/css/vendor/bootstrap/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/vendor/bootstrap-checkbox.css">
    <link rel="stylesheet" href="/assets/js/vendor/owl-carousel/css/owl.carousel.css">
    <link rel="stylesheet" href="/assets/js/vendor/owl-carousel/css/owl.theme.css">
<link rel="stylesheet" href="/assets/js/vendor/summernote/css/summernote.css">
    <link rel="stylesheet" href="/assets/js/vendor/summernote/css/summernote-bs3.css">
    <link href="/assets/css/minimal.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->



    <script src="/assets/js/vendor/jquery/jquery.js"></script>
        <script src="assets/js/vendor/bootstrap/bootstrap.min.js"></script>


    <script src="/assets/js/vendor/owl-carousel/owl.carousel.min.js"></script>
    <script>
        $(function () {
           
        });
    </script>
</head>

<body class="bg-1">
    <!-- Wrap all page content here -->
    <div id="wrap" style="max-width:1024px;margin:auto">
        <!-- Make page fluid -->
        <div class="row">
            <!-- Page content -->


            <div class="col-md-6" style="padding-top:70px">



                <!-- tile -->
                <section class="tile transparent">


                    <!-- tile body -->
                    <div class="tile-body nopadding rounded-corners">

                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="/assets/images/welcome/welcome1.jpg" alt="">
                                    
                                </div>
                                <div class="item">
                                    <img src="/assets/images/welcome/welcome2.jpg" alt="">
                                    <div class="carousel-caption">
                                        <h3>Multiple Groups</h3>
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="/assets/images/welcome/welcome3.jpg" alt="">
                                    <div class="carousel-caption">
                                        <h3>Create Group with your friends</h3>
                                        
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="/assets/images/welcome/welcome4.jpg" alt="">
                                    <div class="carousel-caption">
                                        <h3>Record Everything</h3>
                                        
                                    </div>
                                </div>
                            </div>

                            <!-- Controls -->
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <i class="fa fa-chevron-left fa-lg left-side"></i>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <i class="fa fa-chevron-right fa-lg right-side"></i>
                            </a>
                        </div>

                    </div>
                    <!-- /tile body -->




                </section>
                <!-- /tile -->



            </div>

            <div class="col-md-6">
                <section class="tile transparent no-shadow">


                    <h1 class="timeline-heading" style="margin-left:-30px"><strong>You</strong> can</h1>

                    <ol class="timeline timeline-mini">

                        <li class="color transparent-black">
                            <div class="pointer slategray">
                                <i class="fa fa-clock-o"></i>
                            </div>
                            <div class="el-container">
                                <div class="content">
                                    <span class="time"></span>
                                    <h1><strong>Build</strong> Groups</h1>
                                    <p>Join with friends and manage every cost together.</p>
                                </div>
                            </div>
                        </li>

                        <li class="color transparent-black textured">
                            <div class="pointer slategray">
                                <i class="fa fa-hdd-o"></i>
                            </div>
                            <div class="el-container">
                                <div class="content">
                                    <span class="time"></span>
                                    <h1><strong>Record</strong> Everything</h1>
                                    <p>With everyone record every payment and transfer, keep your trip cost clear!</p>
                                </div>
                            </div>
                        </li>

                        <li class="color transparent-white">
                            <div class="pointer slategray">
                                <i class="fa fa-folder"></i>
                            </div>
                            <div class="el-container">
                                <div class="content">
                                    <span class="time"></span>
                                    <h1><strong>Quick</strong> Solution</h1>
                                    <p>Give you the simplest way to make everyone balanced!</p>
                                </div>
                            </div>
                        </li>

                    </ol>

                    <a href="/login" class="timeline-heading btn btn-green btn-lg" 
                       style="margin-left:-45px;padding: 10px 16px !important;font-size: 28px !important;">
                        <strong>Join us</strong></a>


                </section>

            </div>

            <!-- /Page content -->
        </div>
    </div>
    <!-- Wrap all page content end -->
</body>

</html>

