<ion-view view-title="Market" class='view-screen' hide-back-button="true">
    <ion-nav-buttons side=" left ">
        <button class="button " ng-click="viewMyItems() ">
            <i class="icon ion-ios-toggle "></i> View Urs
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side=" right ">
        <button class="button " ng-click="uploadItem() ">
            <i class="icon ion-plus-round "></i>
        </button>
    </ion-nav-buttons>

    <ion-content class="no-padding ">

        <ion-refresher pulling-text="Pull to refresh... " on-refresh="doMarketRefresh() ">
        </ion-refresher>

        <div class=" ">
            <div class="col col-50 second-panel " style="display:-webkit-inline-box" ng-repeat="item in items">
                <div class="second-item {{item.borderColor}} ">
                    <div class="market-title ">
                        <img 
                             lazy-image="{{item.user.avatar}}"
                             lazy-image-type="avatar"
                             >
                        <label class="market-price ">${{item.price | number:2}}</label>
                    </div>
                    <div class="market-image " ng-click="goView(item)">
                        <img 
                             lazy-image="{{item.images[0]}}"
                             lazy-image-type="market"
                             >
                    </div>
                    <div class="market-name ">
                        <label>{{item.title}}</label>
                    </div>
                </div>

            </div>
        </div>

        <div class="row " ng-repeat="i in [] | range:(items.length+1)/2 " ng-if="false">
            <div class="col col-50 second-panel " ng-init="item=items[i*2] ">
                <div class="second-item {{item.borderColor}} ">
                    <div class="market-title ">
                        <img ng-src="{{getAvatarImage(item.user.avatar)}} ">
                        <label class="market-price ">${{item.price | number:2}}</label>
                    </div>
                    <div class="market-image " ng-click="goView(item)">
                        <img ng-src="{{getMarketImage(item.images[0])}} ">
                    </div>
                    <div class="market-name ">
                        <label>{{item.title}}</label>
                    </div>
                </div>

            </div>
            <div class="col col-50 second-panel " ng-init="item=items[i*2+1] " ng-if="i*2+1<items.length ">
                <div class="second-item {{item.borderColor}} ">
                    <div class="market-title ">
                        <img ng-src="{{getAvatarImage(item.user.avatar)}} ">
                        <label class="market-price ">${{item.price | number:2}}</label>
                    </div>
                    <div class="market-image " ng-click="goView(item)">
                        <img ng-src="{{getMarketImage(item.images[0])}} ">
                    </div>
                    <div class="market-name ">
                        <label>{{item.title}}</label>
                    </div>
                </div>
            </div>
        </div>


        <ion-infinite-scroll ng-if="hasMoreData " on-infinite="doLoadMoreMarket() " distance="1% ">
        </ion-infinite-scroll>

    </ion-content>
</ion-view>