<ion-view view-title="" class='view-screen' hide-tab-bar hide-back-button="true">
    <ion-nav-buttons side="left">
        <button class="button" ng-click="cancel()">Cancel</button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button" ng-click="submit(data.value)">Submit</button>
    </ion-nav-buttons>
    <ion-content class="padding rent-edit">

        <div class="list list-item" ng-if="data.type=='text'">
            <div class="item">
                <input type="text" ng-model="data.value">
            </div>
        </div>

        <div class="list list-item" ng-if="data.type=='select'">

            <ion-radio ng-model="data.value" ng-value="'A'" ng-repeat="option in data.options">{{option}}</ion-radio>
        </div>

    </ion-content>
</ion-view>